body {
    background-color: lightblue;
    margin: 30px 100px;
    padding: 1em;
    font-size: 16px;
    color: black;

}

.nav {
    background-color: blue;
    color: white;
    font-size: 20px;
}

.alert {
    background-color: yellowgreen;
    padding: 1em;
    color: white;
}

.alert-danger {
    background-color: lightcoral;
    padding: 1em;
    color: white;
    margin-top: 20px;
    list-style-type: none;
}

.list {
    list-style-type: none;
    background-color: blue;
    padding: 1em;
}

img {
    width: 200px;
    height: 250px;
    margin: 10px;
}

.nav a:hover {
    color: lightcoral;
    text-decoration: underline;
}

.navLi {
    display: inline;
    background-color: blue;
    padding: 1em;
}

.content {
    background-color: white;
    padding: 1em;
}

footer {
    font-size: small;
}

#delButton {
    background-color: lightcoral;
    color: white;
}

.keepButton {
    background-color: lightgreen;

}

.editButton {
    background-color: lightblue;
}